include ../../../shared/utils/button/buttonMixin.pug

.footer__letsTalk
  .footer__letsText
    h2.footer__letsH
      |Intersted to woek with our team?
    p.footer__letsp
      |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
  .footer__button
    +buttonMixin('FormaTalk', 'Let’s Talk', '')

.footer__basement
  .footer__afrianska
    logo afrianska
    |A.   
    |T.
    |E.
  .footer__aboutUs
    a about us
    a what
    a progest
    a how it work
  .footer__followUs
    a insts
    a facebook
    a linked
    a youtube
.footer__copyright