include ../../../shared/utils/button/buttonMixin.pug

.footer__letsTalk
  .footer__letsText
    h2.footer__letsH
      |Intersted to woek with our team?
    p.footer__letsp
      |Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
  .footer__button
    +buttonMixin('FormaTalk', 'Let’s Talk', '')

.footer__basement
  .footer__afrianska
    .footer__logo
      a(href="http://localhost:9000/")
        include ../../../assets/Icon/logoIcon.svg
      h3 Afrianska
    .footer__feedback
      li A.
        a Lorem ipsum dolor sit amet, consectetur adipisicing elit
      li T.
        a(href="tel:+62-812-7313-4321") +62-812-7313-4321
      li E
        a(href="mailto:hello.afrian@gmail.com") hello.afrian@gmail.com
  .footer__about
    p About US
    li
      a(href="#About") About
    li
      a(href="#Do") What We Do
    li
      a(href="#Project") Project
    li
      a(href="#How") How It Work With Us
  .footer__follow
    p Follow US
    li
      a(href="#instagram") Instagram
    li
      a(href="#Facebook") Facebook
    li
      a(href="#Linkedln") Linkedln
    li
      a(href="#YpuTube") YouTube
.footer__copyright
  |2019 © Afrianska. All right reserved