.footer__wrapper{

}

.footer__letsTalk{
  display: flex;
  flex-direction: row;
  flex-grow: 0;
  gap: 180px;
  padding: 90px 0;
}

.footer__letsText h2, p{
  width: 460px;
  color: var(--colorWhite);
}