mixin logoIcon()
  include logoIcon.svg

mixin menIcon()
  include talkIcon/men.svg

mixin menIcon2()
  include talkIcon/men2.svg

mixin womenIcon()
  include talkIcon/women.svg

mixin contentIcon()
  include headerIcon/content.svg

mixin groupMIcon()
  include headerIcon/groupM.svg

mixin homeIcon()
  include headerIcon/home.svg

mixin illustrationIcon()
  include headerIcon/illustration.svg

mixin manIcon()
  include headerIcon/man.svg

mixin womanIcon()
  include headerIcon/women.svg