html {
  font: var(--baseFontWeight) var(--baseFontSize) / var(--baseLineHeight)
    var(--baseFontFamily);
}

@import "../fonts/fonts.pcss";

body {
  margin: 0px;
  width: 100%;
}

.container {
  box-sizing: border-box;
  width: 100%;
  height: auto;
  /*padding: 80px 100px 80px 325px;*/
}

.container__wrapper {
  width: 1200px;
  margin: 0px auto;
}
