doctype html
html(lang= 'ru')
    head
        meta(charset='utf-8')
        title= 'Тестовое ЦЭ'

    body
      header
        .section__wrapper.header__wrapper
            include components/headersBlock/header.pug

      main
        section.container
            .container__wrapper.talk__wrapper#talk
               include components/talkBlock/talkBlock.pug

        section.container.container--isBlue
            .client__wrapper.container__wrapper#client
                include components/clientBlock/clientBlock.pug



    foooter.container--isDark
        .section__wrapper.footer__wrapper#help
            include components/footerBlock/footer.pug



