doctype html
html(lang= 'ru')
    head
        meta(charset='utf-8')
        title= 'Тестовое ЦЭ'

    body
      header
        .section__wrapper.header__wrapper
            include components/headersBlock/header.pug

      main
        section.container
            .container__wrapper
                h1.container__tittle Практическое обучение. Базовая часть

        section.container.container--isDark
            .container__wrapper
                h2.container__tittle Бегунок


        section.container
            .container__wrapper
                h2.container__tittle Слайдер


        section.container.container--isDark
            .container__wrapper
                h2.container__tittle  Карта

        section.container.container--isDark
            .container__wrapper
                h2.container__tittle  Карта

        section.container.container--isDark
            .container__wrapper
                h2.container__tittle  Карта

        section.container.container--isDark
            .container__wrapper
                h2.container__tittle  Карта

        section.container.container--isDark
            .container__wrapper
                h2.container__tittle  Карта

        section.container.container--isDark
            .container__wrapper
                h2.container__tittle  Карта

        section.container.container--isDark
            .container__wrapper
                h2.container__tittle  Карта





    foooter



