mixin cardMixin(title, description, link)
  .card__block
    .card__icons
      block
    .card__text
      h3.card__title= title
      p.card__descr= description
      .card__more
        a(href=link) Learn more →
