.headerBackground
    include ../../../../assets/Icon/headerIcon/illustration.svg
    .headerBackground__man
        include ../../../../assets/Icon/headerIcon/man.svg
    .headerBackground__women
        include ../../../../assets/Icon/headerIcon/women.svg
    .headerBackground__content
        include ../../../../assets/Icon/headerIcon/content.svg
    .headerBackground__groupM
        include ../../../../assets/Icon/headerIcon/groupM.svg
    .headerBackground__home
        include ../../../../assets/Icon/headerIcon/home.svg




