include ../../../shared/utils/clientLogo/clientMixin.pug

.client__blocks
  .client__text
    h2.client__title Our Beloved Client
    p.client__descr Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
  .client__grid
    +clientMixin('','logo client 1')
    +clientMixin('','logo client2')
    +clientMixin('','logo client3')
    +clientMixin('','logo client4')
    +clientMixin('','logo client5')
    +clientMixin('','logo client6')
    +clientMixin('','logo client7')
    +clientMixin('','More client', 'https://docs.google.com/forms/d/10-jlXnYqUiCtwx2Mv0Jg83IKlfCeycV9-WLsTFZKI4I/viewform?edit_requested=true')
