.client__wrapper {
  padding: 100px 0 120px;
}

.client__text {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  gap: 40px;
}

.client__text h2, .client__text p {
  color: var(--colorWhite);
}


.client__grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


