.client__wrapper {
  padding: 100px 0;
}

.client__text {
  display: flex;
  flex-direction: row;

  color: var(--colorWhite);
}

.client__text h3 {
  color: var(--colorWhite);
}

.client__text p {
  color: var(--colorWhite);
}

.client__grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


