include ../../../shared/utils/card/CardMixin.pug
include ../../../assets/Icon/mixin.pug

.talk__blocks
  .talk__text
    h2.talk__title
      |What we do to help
      |our client grow in
      |digital era,
  .talk__cards
    +cardMixin('Bring Technology To Your Comfrotable Home', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.','/learnMore')
      +menIcon2()
    +cardMixin( 'Make Your business To Be Better Famous In Internet', 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.','learn more')
      +menIcon()
    +cardMixin('Build Your Digital Product That Suitable For Your Need','Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.','learn more')
      +womenIcon()






